<h1>Dogs#show</h1>
<p>Find me in app/views/dogs/show.html.erb</p>

<h1><%= @dog.name %></h1>
<% if @dog.photo.attached? %>
  <div><%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %></div>
<% end %>
<p><%= @dog.biography %></p>
<div><%= link_to "Book this dog", new_dog_booking_path(@dog) %></div>
<div><%= link_to "Edit this dog", edit_dog_path %>
