<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1 class="navbar-title"><%= link_to "Dog for a Day", root_path %></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= form_tag dogs_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query]
            %>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Register your dog", new_dog_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to pages_path do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "bars", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My account", pages_path, class: "dropdown-item" %>
            <%= link_to "My bookings", pages_path, class: "dropdown-item" %>
            <%= link_to "My dogs", pages_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= form_tag dogs_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query]
            %>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Register your dog", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>