<div class="navbar">
  <h1 class="navbar-title"><%= link_to "Dog for a Day", root_path %></h1>

  <div class="navbar-items">
    <ul class="navbar-list">
      <li class="navbar-list-item">
          <%= form_tag dogs_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query]
            %>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
      <% if user_signed_in? %>
      
      <% else %>
        <li>
          <div><%= link_to "Register your dog", new_user_session_path %></div>
          <div><%= link_to "Login", new_user_session_path %></div>
        </li>
      <% end %>
    </ul>
  </div>

</div>
