<h1>
  <%= current_user.first_name %>'s Account
</h1>

<h2>
  Your dogs and their bookings:
</h2>
<ul>
  <% current_user.dogs.each do |dog| %>
    <li>
      <%= dog.name %>
      <ul>
        <% dog.bookings.each do |booking| %>
          <li>
            <%= booking.date %> <%= link_to "View this booking", dog_booking_path(dog, booking) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>
  Dogs you have booked:
</h2>
<ul>
  <% current_user.bookings.each do |booking| %>
    <li>
      <%= booking.dog.name %> on <%= booking.date %> from <%= booking.dog.user.first_name %> <%= link_to "View this booking", dog_booking_path(booking.dog, booking) %>
    </li>
  <% end %>
</ul>
