<div class="container">
  <h1 class="underline">Hi <%= current_user.first_name%></h1>
    <div class="account_page_styling">
      <div class="account_card">
      <div class="user_navigation"><%= link_to "My Dashboard", pages_path %></div>
      <div class="user_navigation"><%= link_to "My Dogs", pages_my_dogs_path %></div>
      <div class="user_navigation"><%= link_to "My Bookings", pages_my_bookings_path %></div>
      <div id="is_active" class="user_navigation"><%= link_to "My Account", pages_my_account_path %><br></div>
    </div>
    <div class="container">
      <div class="account_details">
      <h2>Your Account Details</h2>
        <div class='box_container'>Biography:
                                    You don't have anything added :(</div>
        <div class='box_container'>First Name:  <%= current_user.first_name%></div>
        <div class='box_container'>Last Name:  <%= current_user.last_name %><br></div>
        <div class='box_container'>Email Address: <%= current_user.email %><br></div>
        <div class='box_container'>Address: <%= current_user.address %><br></div>
          <div class="btn-primary">
          <div class="edit_account"><%= link_to "Edit Account", edit_user_registration_path %></div>
          </div>
      </div>
    </div>
  </div>
</div>
