<h1>My Dogs</h1>

<%= link_to "Dashboard", pages_path %>
<%= link_to "My Dogs", pages_my_dogs_path %>
<%= link_to "My Bookings", pages_my_bookings_path %>
<%= link_to "Account", pages_my_account_path %>

<ul>
  <% current_user.dogs.each do |dog| %>
    <li>
      <%= dog.name %>
      <ul>
        <% dog.bookings.each do |booking| %>
          <li>
            <%= booking.date %> <%= link_to "View this booking", dog_booking_path(dog, booking) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
